body{
    background-color:darkgray;
    margin:0;
    padding:0; 
    box-sizing:border-box; 
}

th{
    color: aliceblue;
}
img{
    padding: 2%;
}

.btnLogout{
    float: right;
}

.container-fluid{
    padding: 2%;
}

#mp{
    color: aqua;
}